<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="/home/xmalmorthen/Documentos/mono/monotesting/logs/MySqlCnn.log">

  <variable name="logspath" value="/home/xmalmorthen/Documentos/mono/monotesting/logs" />
  <variable name="appname" value="MySqlCnn" />
  <variable name="LogServer" value="localhost" />
  <variable name="DbLogs" value="db_logs" />
  <variable name="DbUsr" value="root" />
  <variable name="DbPwd" value="" />
   
  <targets async="true">
  		<target name="databaselog" 
  				type="Database" 
  				keepConnection="true" 
       			dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
       			connectionString="Server=${LogServer};Database=${DbLogs};Uid=${DbUsr};Pwd=${DbPwd};"
       			commandText="insert into ${DbLogs}.Log (Application, Level, Message, Exception) values (@Application, @Level, @Message, @Exception);">
		  <parameter name="@Application" layout="${appname}" />
		  <parameter name="@Level" layout="${level}" />
		  <parameter name="@Message" layout="${message}" />
		  <parameter name="@Exception" layout="${exception:format=tostring}" />
		</target>

		<target name="jsonFile" xsi:type="File" fileName="${basedir}/Logs/Log_${shortdate}.json">
	      <layout xsi:type="JsonLayout">
	              <attribute name="time" layout="${longdate}" />
	              <attribute name="level" layout="${level:upperCase=true}"/>
	              <attribute name="message" layout="${message}" />
	              <attribute name="exception" layout="${exception:format=tostring}" />
	      </layout>
		</target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="databaselog" />
    <logger name="*" minlevel="Debug" writeTo="jsonFile" />
  </rules>
</nlog>